---
layout: base.njk
section: post
---
<div class="page-container">
  <article>
    <h1>{{ title }}</h1>
    <p>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </p>
    <hr/>

    {{ layoutContent | safe }}

    {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}


<h5><details>
  <summary>Comment with GitHub <i class="fa-brands fa-github"></i></summary>
    <script src="https://giscus.app/client.js"
            data-repo="BinaryDigitCode/cafe"
            data-repo-id="R_kgDOLqVNSg"
            data-category="[ENTER CATEGORY NAME HERE]"
            data-category-id="[ENTER CATEGORY ID HERE]"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</details>
</h5>
  </article>


  <nav>
    <a href="{{ '/blog/' | url }}">← All Posts</a>
  </nav>
</div>