<footer class="site-footer">
  <center>
  {# <small> #}
    <p>
    <!-- Webring --> 
      <a href="https://webri.ng/webring/cssjoy/previous?via=https://binarydigit.cafe/"><i class="fa-regular fa-circle-left"></i></a>
      <a href="https://webri.ng/webring/cssjoy/random?via=https://binarydigit.cafe/">CS Joy</a>
      <a href="https://webri.ng/webring/cssjoy/next?via=https://binarydigit.cafe/">&nbsp;<i class="fa-regular fa-circle-right"></i></a> 
    <!-- Webring -->
    </p>
    <p>
    <a href="https://us.umami.is/share/4clz13O9ggz4KuhN/binarydigit.cafe">Analytics</a> | &#169; 2024 BinaryDigit
    </p>
 {# </small> #}
 <p>
  <a href="https://ko-fi.com/andycarolan/shop"><img src="/assets/img/NoAi_03.png" alt="button created by Andy Carolan"></a>
 </p>
  </center>
  
<link href="mailto:hi@binarydigit.cafe" rel="me">
<link href="https://binarydigit.cafe" rel="me">
<link href="https://proven.lol/77dc7d" rel="me">
<link href="https://social.lol/@binarydigit" rel="me">
<link href="https://mstdn.games/@BinaryDigit" rel="me">
</footer>

